.home-main{
    min-height: 100vh;
    max-height: auto;
    min-width: 100vh;
    max-width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}